//card
.example-card {
    max-width: 250px !important;
    margin-left: 1rem;
    margin-top: 1rem;
    float: left;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

