.example-form {
    min-width: 500px;
    max-width: 500px;
    width: 100%;
  }

//propiedasBusqueda
  .example-full-width {
    width: 80%;
    text-align: center;
    display: block;
    margin: 0px auto;
    
  }

  //card
.example-card {
  max-width: 250px;
  margin-left: 1rem;
  margin-top: 1rem;
  float: left;
}


