<app-navbar></app-navbar>


<div>

    <mat-form-field class="example-full-width">
      <input #termino type="text" matInput placeholder="Buscar artista..." (keyup)="buscar(termino.value)" >
    </mat-form-field>

</div>

<app-loading *ngIf="loading"></app-loading>

<app-tarjetas *ngIf="!loading" [items]="artistas"></app-tarjetas>
