<mat-toolbar color="primary" class="color fixed-header" >
  <mat-toolbar-row>
    <img width="35" alt="bac-image" src="assets/img/banner-ico.png">
    &nbsp;
    <span class="fontclass">SpotiApp</span>
    <span class="example-spacer"></span>

    <button mat-button class="right fontclass-chica" routerLink="/home">Home</button>
    <button mat-button class="right fontclass-chica" routerLink="/search">Registro</button>
    <button mat-button class="right fontclass-chica" routerLink="/search">Descarga</button>
<!-- 
    <mat-chip-list aria-label="Fish selection">
      <mat-chip class="cursorApp"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">error_outline</mat-icon>About</mat-chip>
      <mat-chip class="cursorApp"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">power_settings_new</mat-icon>Community</mat-chip>
      <mat-chip class="cursorApp"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">power_settings_new</mat-icon>Log-in</mat-chip>
    </mat-chip-list>

    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
-->
    
  </mat-toolbar-row>
</mat-toolbar>