<app-navbar></app-navbar>

<div class="master">

  <div>
    <img [src]="artista.images | noimage" class="img-circle fadeIn">
  </div>

  <div>
    <h3>{{ artista.name }}</h3>
    <p>
      <a [href]="artista.external_urls.spotify" target="_blank">Ir a la página del artista</a>
    </p>
  </div>

  <div>
    <button mat-stroked-button routerLink="/search" class="btnAtras">Atras</button>
  </div>
</div>