

<div >
    <mat-card *ngFor="let item of items" class="example-card" animated fadeIn>
      <mat-card-header>
        <!--<div mat-card-avatar class="example-header-image"></div>-->
        <mat-card-title>{{item.name}}</mat-card-title>
        <mat-card-subtitle>F. de lanzamiento: {{item.release_date}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="item.images | noimage" class="puntero" (click)="verArtista( item )" >
      <mat-card-content>
        <mat-chip-list *ngFor="let artista of item.artists" aria-label="Fish selection">
          <!-- <mat-chip>One fish</mat-chip> -->
          <mat-chip color="secondary" selected>{{ artista.name }}</mat-chip>
        </mat-chip-list>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    
  
  </div>
  